/**
 * This is a CSS file. CSS stands for "Cascading Style Sheets" -- it's what
 * makes webpages look unique, and "pretty", not just like big white boxes with
 * plain black text.
 *
 * We can specify particular styles for particular elements on the page by the
 * tag name (the tag is the word in angle-brackets, like "<div>" or "<p>"), ID
 * (id="youridhere"), or class (class="classone classtwo classthree").
 */


/* This makes any element with the class 'forumpost' have a certain style. */
.forumpost {
  /* Lets give all texts big, bold font. */
  font-weight: bold;

  /* Don't take up the entire screen: Only go 200 pixels across. */
  width: 200px;
}

/*
 * This makes any element with the ID 'newpost' have a certain style.
 *
 * Notice that in our HTML file, the element with the ID 'newpost' also has the
 * class 'forumpost', so both style blocks will apply! This is an example of
 * the "cascading" part of cascading stylesheets; later styles (closer to the
 * bottom of the file) will override previous styles, so anything in this block
 * will override the settings from .forumpost{}.
 */
#newpost {
  color: grey;

  /* In addition to grey text, let's have a border around the textbox. */
  border: 2px solid black;
}

/*
 * We want to specially style the content of the existing forum posts, too.
 */
#post {
  color: blue;

  /*
   * In addition to blue text, let's have a grey background so it doesn't look
   * editable.
   */
  background: lightgrey;
}
