.square {
  height: 45px;
  width: 45px;
  display: inline-block;
  border: solid black 1px;
}

.square[data-parity=odd] {
  background: #885522;
}

.square[data-parity=even] {
  background: #EEDDBB;
}

.square[data-selected=true] {
  background: #BB77BB;
}

.square[data-option=true] {
  background: #FF9999;
}

.turn {
  font-size: 16pt;
  -webkit-text-stroke: 0.5px red;
}
