<style>
  .left {
    float:left;
    width:150px;
  }
  .right {
    float:right;
  }
  ul {
    line-height:100%;
  }
  #colorswatch {
    height: 25px;
    width: 25px;
    border: 2px solid black;
  }
  canvas {
    margin-right: 20px;
    margin-left: 20px;
  }
  span {
    margin: 5px;
  }
  button {
    padding: 5px;
    margin: 5px;
  }
</style>

<title>AP Computer Science Picture Viewer</title>

<body>
  <h1>${picturename}</h1>
  <div class="right">
    <div id="colorswatch"></div>
    <div id="rgb">(red=000, green=000, blue=000)</div>
    <div id="position">Try mousing over the image!</div>
    <canvas id="bigimage"></canvas>
    <div>
${methodbuttons}
    </div>
  </div>
  <ul class="left">
${picturelist}
  </ul>
  <script type="text/javascript">
    // Draw the picture
    var canvas = document.getElementById('bigimage');
    var imgContext = canvas.getContext('2d');
    var picture = document.createElement('img');
    picture.src = "imagedata/${filename}?"
    picture.onload = function() {
      canvas.width = picture.width;
      canvas.height = picture.height;
      imgContext.drawImage(picture, 0, 0, picture.width, picture.height);
    };

    /**
     * Display color/position information when they mouseover the picture.
     */
    canvas.onmousemove = function(event) {
      // (x=X, y=Y)
      document.getElementById('position').innerText =
          '(x=' + event.offsetX + ', y=' + event.offsetY + ')';

      // +---+
      // |   |  <-- the color of the pixel they're mousing over
      // +---+
      var pixel = imgContext.getImageData(event.offsetX, event.offsetY, 1, 1).data;
      document.getElementById('colorswatch').style.backgroundColor =
          "rgb(" + pixel[0] + ", " + pixel[1] + ", " + pixel[2] + ")";

      // (red=RRR, green=GGG, blue=BBB)
      document.getElementById('rgb').innerText =
        '(red=' + pad(pixel[0], 3)
        + ', green=' + pad(pixel[1], 3)
        + ', blue=' + pad(pixel[2], 3) + ')';
    }

    /**
     * Re-render the picture when they click a Picture-method button.
     */
    var addMethod = function(methodName) {
      if (!methodName) {
        return;
      }

      // If it's already there, remove it. Otherwise, add it.
      if (picture.src.indexOf('&' + methodName) > -1) {
        picture.src = picture.src.replace('&' + methodName, '');
      } else {
        picture.src += '&' + methodName;
      }
    };

    /**
     * Turns a number into a string, and pads it with zeros.
     */
    var pad = function(num, width) {
      num = num + '';
      return num.length >= width
        ? num
        : new Array(width - num.length + 1).join('0') + num;
    }
  </script>
</body>

