<head>
  <link rel="stylesheet" type="text/css" href="resources/styles.css">
</head>

<title>WackySearch</title>

<body>
  <div id="wrap">
    <div id="main">
      <div class="centered" id="search-results-top-bar">
        <a href=/>
          <img class="centered" id="logo" src="/resources/wackysearch.png" alt="WackySearch">
        </a>
        <form class="centered" method="get">
          <input class="centered" type="text" id="search-bar" name="q" size=42 placeholder="Search for something!" autofocus/>  <!-- q for query -->
        </form>
      </div>
      <div class="centered" id="empty-result">
        <p class="rotato">
          NADA
        </p>
      </div>
      </div>
  </div>
</body>

<footer>
  <div id="footer">
    <div class="footer" id="info-bar">
      <div class="left no-margin no-padding" id="comparator-selector">
        <p class="no-margin no-padding" style="text-align:left">Comparator Selector (${currentcomparator})</p>
        <form class="no-margin no-padding" style="float:left" action="/comparator" method="post">
          <button name="comparator" value="alpha">AlphabeticalUrlComparator</button>
          <button name="comparator" value="first">FirstIsBestComparator</button>
          <button name="comparator" value="myst">MysteryMagicComparator</button>
          <button name="comparator" value="freq">TermFrequencyComparator</button>
        </form>
      </div>
      <div class="right no-margin no-padding" id="url-file-selector">
        <p class="no-margin no-padding" style="text-align:right">URL File Selector (${currenturlfile})</p>
        <form class="no-margin no-padding" style="float:right" action="/url-list" method="post">
          <button name="url-list" value="dog-wikiloop.txt">Dog Wikiloop</button>
          <button name="url-list" value="kitten-wikiloop.txt">Kitten Wikiloop</button>
          <button name="url-list" value="small-url-list.txt">Small URL List</button>
          <button name="url-list" value="this-assignment.txt">This Assignment</button>
          <button name="url-list" value="top-25-sites.txt">Top 25 Sites</button>
          <button name="url-list" value="top-100-sites.txt">Top 100 Sites</button>
        </form>
      </div>
    </div>
  </div>
</footer>