.grid {
  font-size: 0;
}

.node {
  background: #444;
  height: 10px;
  width: 10px;
}

.horizontal-edge, .node, .vertical-edge, .square {
  display: inline-block;
  vertical-align: top;
}

.horizontal-edge, .vertical-edge {
  border-color: #aaa;
  border-style: solid;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.horizontal-edge {
  border-width: 1px 0;
  height: 10px;
  width: 40px;
}

.vertical-edge {
  border-width: 0 1px;
  height: 40px;
  width: 10px;
}

.horizontal-edge[disabled], .vertical-edge[disabled] {
  border-color: #666;
  background: #ccc;
  cursor: auto;
}

.horizontal-edge[data-owner=X], .vertical-edge[data-owner=X] {
  background: #ff8080;
}

.horizontal-edge[data-owner=O], .vertical-edge[data-owner=O] {
  background: #8080ff;
}

.square {
  height: 40px;
  width: 40px;
}

.square[data-owner=X] {
  background: red;
}

.square[data-owner=O] {
  background: blue;
}
