.left {
  float:left;
  width:150px;
}
.right {
  float:right;
}
.centered {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.result {
  margin-bottom: 1.5em;
}
.no-margin {
  margin: 0 0 0 0;
}
.no-padding {
  padding: 0 0 0 0;
}
.rotato {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 60px;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
body {
  font-family: "Verdana", Times, sans-serif;
  height: 100%;
}
ul {
  line-height:100%;
}
canvas {
  margin-right: 20px;
  margin-left: 20px;
}
span {
  margin: 5px;
}
button {
  padding: 5px;
  margin: 5px;
}
input {
  margin: inherit;
}
#search-main {
  display: block;
  margin-top: 12em;
  margin-bottom: 1em;
}
#logo {
  display: block;
  margin-bottom: 2em;
}
#search-bar {
  display: block;
  font-size: 20;
}
#result-list {
  display: block;
  list-style-type: none;
  text-align: left;
  font-size: 18;
  font-family: "Verdana", Times, sans-serif;
  margin-top: 2.5em;
  margin-left: 4em;
}
#empty-result {
  text-align: center;
  font-size: 62;
}
#info-bar {
  padding-top: .5em;
  font-size: 12;
}
#comparator-selector {
  width: 48%;
  margin-left: 1em;
}
#url-file-selector {
  width: 48%;
  margin-right: 1em;
}
/*Sticky footer*/
html {
  height: 100%;
}
#wrap {min-height: 100%;}
#main {
  overflow:auto;
	padding-bottom: 7em;  /* must be same height as the footer */
}
#footer {
  position: relative;
	margin-top: -7em; /* negative value of footer height */
	height: 7em;
	clear:both;
  background-color: #efefef;
  text-align: center;
}

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}